.sidebar {
    position: fixed;
    top: 0;
    left: -150px;
    width: 150px;
    height: 100%;
    background-color: #000000;

    transition: all 0.3s ease-in-out;
  }

  .sidebar.open {
    left: 0;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sidebar li {
    padding: 10px;
    border-bottom: 1px solid #fff;
  }

  .sidebar li:last-child {
    border-bottom: none;
  }

  .sidebar li:hover {
    background-color: #fff;
    color: #2d3436;
  }

  .sidebar a {
    color: #ff000f;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    text-align: center;
    margin-right: 5px;
  }

  .sidebar a:hover {
    color: #fff;
  }